category_cross_out plays here.
<p><br></p>
<span>The two categories are: {{category_correct}} and {{category_wrong}}.</span>
<p><br></p>

<ol>
    {{#each tokens}}
        <li>
        <p><img src="{{this.url}}"><br>
            {{this.name}} (

            {{#if this.matched}}
                CORRECT
            {{else}}
                INCORRECT
            {{/if}} WORD)
        </li>
    {{/each}}
</ol>
</div>