
category_cross_out plays here.
<p><br></p>
<span>The two categories are: {{category_correct}} and {{category_wrong}}.</span>
<p><br></p>
The wrong position is: {{wrong_position}}
  <p><br></p>
    The correct items are: {{correctstring}}

<p><br></p>

{{#each correct}}
    {{this.name}}, {{this.url}}, {{this.difficulty}}
{{/each}}

</div>