<div class="cco_header_container">

    <div class="cco_title">
        <span>Category-Cross-Out</span>
    </div>

    <div class="cco_difficulty_settings">

        <img src="pictures_on.jpg" id="difficulty_easy">
        <img src="pictures_off.jpg" id="difficulty_hard">
    </div>
</div>


<div class="cco_card_container">

{{#each tokens}}
    <div class="cco_backdrop_for_variable_heights">
    <div class="cco_single_card" id="{{this.id}}">

        <img src="word_hint_images/{{this.url}}" class="cco_hint_image" id="{{this.name}}">

        <h3>{{this.name}}</h3>

</div>
</div>
{{/each}}

</div>



<form method="POST" id="theForm">
    <input type="hidden" name="answer" value="{{solution}}" id="answer">
    <input type="hidden" name="selection" value="null" id="selection">
    <input type="hidden" name="score" value="{{score}}" id="score">
    <input type="hidden" name="game" value="{{game}}" id="game">

</form>

<div class="cco_tracker_container">
<div class="cco_score_tracker">
    {{#if game}}<span>Your previous answer was {{result}}.{{/if}}</span><br>
    <span>Your current score is {{score}}/{{game}}.</span>
</div>

<div class="cco_button">
    <button type="submit" class="material_button" form="theForm" value="Submit">CHECK MY ANSWER</button>
</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', cardClicks);

    function cardClicks() {

        let card_1 = document.getElementById("card_1");
        let card_2 = document.getElementById("card_2");
        let card_3 = document.getElementById("card_3");
        let card_4 = document.getElementById("card_4");
        let selected= document.getElementById("selection");
        let easy = document.getElementById("difficulty_easy");
        let hard = document.getElementById("difficulty_hard");
        let highlighted = null;
        let pictures=true;

        card_1.addEventListener('click', event => {

            if (highlighted) {
                deHighlight(highlighted);
            }
            highlight(card_1);
        })

        card_2.addEventListener('click', event => {
            if (highlighted) {
                deHighlight(highlighted);
            }
            highlight(card_2);
        })

        card_3.addEventListener('click', event => {
            if (highlighted) {
                deHighlight(highlighted);
            }
            highlight(card_3);
        })

        card_4.addEventListener('click', event => {
            if (highlighted) {
                deHighlight(highlighted);
            }
            highlight(card_4);
        })

        function highlight(card) {
            highlighted = card;
            card.style.boxShadow = "0px 0px 17px 3px rgba(0,163,250,1)";
            selected.value = card.firstElementChild.id;
        }

        function deHighlight(card) {
            card.style.boxShadow = "0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05)";
        }

        easy.addEventListener('click', event => {
                hideEasy();
                pictures=false;
        })

        hard.addEventListener('click', event => {
            hideHard();
            pictures=true;
        })

        function hideEasy(){
            easy.style.display='none';
            hard.style.display='inline';
            document.getElementById("cco_hint_image").style.display='none';
        }

        function hideHard(){
            easy.style.display='inline';
            hard.style.display='block';
            document.getElementById("cco_hint_image").style.display='inline';

        }



    }
</script>



