category_cross_out plays here.
<p><br></p>
<span>The two categories are: {{category_correct}} and {{category_wrong}}.</span>
<p><br></p>

<ol>
    {{#each correct}}
        <li>
            <p><img src="{{this.url}}"><br>
                {{this.name}} ({{this.difficulty}}, {{this.matched}})</p>
        </li>
    {{/each}}
</ol>
</div>